.hero-unit {
  position: relative;
  height: 600px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.unsplash.com/photo-1588580000645-4562a6d2c839?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMHNoZWxmfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.hero-unit .container {
  position: relative;
  z-index: 1;
}

.text-right {
  text-align: right;
}

.display-3 {
  color: #f5f7f5;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 200px; /* adjust as needed */
}

.lead {
  color: #fcf9fa;
  font-size: 1.5rem;
  max-width: 500px; /* set a max-width to prevent text from overflowing */
  margin-top: 30px; /* adjust as needed */
}

